@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top8 { margin-top:8px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top95 { margin-top:95px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top330 { margin-top:330px; }
.top350 { margin-top:350px; }
.top370 { margin-top:370px; }
.top395 { margin-top:395px; }
.top400 { margin-top:400px; }
.top440 { margin-top:440px; }
.top560 { margin-top:560px; }
.top590 { margin-top:590px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr0 { padding-right:0px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }

.pg0{  padding: 0px !important;}

.pg10{  padding: 10px;}
.pg20{  padding: 20px;}


.container{
width: 1170px !important;
}

.padding0{
padding: 0px !important;
}


.input100{
width: 100% !important;
}


.lato-black{
font-family:"Lato Black";
}

.fontMyriad{
font-family: 'MyriadPro-Regular';
}

.relative{
position: relative;
}


body{
font-weight: 400;
font-family: 'Lato', sans-serif;

}



h1{
font-size  :20px;
color      :#000;
font-weight: 400;

}

h1 span{
  font-size  :40px;
  color      :#fff;
  font-weight: 700;
}


h2{
font-weight: 300;
font-size  :21px;
color      :#000;
}

h2 span{
font-weight: 700;
font-size  :40px;
}

h3 {
font-family: 'MyriadPro-Regular';
font-size  :13px;
color      :#fff;

}

h3 span{
  font-weight: 400;
  font-size  :23px;
  color      :#000;
}


h4{
font-weight: 400;
color      : #000;
font-size  : 40px;
}


h4 span{
  font-weight: 700;
  font-size  : 25px;
}


h5{
font-family :"Lato Black";
	color     : #000;
	font-size : 35px;
}

h5 span{

}

h6 {
/*font-weight  : 300;
color          : #000;
font-size      : 30px;
text-decoration: underline: ;*/
}


h6 span{

}


p{
font-weight: 300;
font-size  : 20px;
color      : #000;
text-align : justify;
}

a:hover{
text-decoration: none !important;
}

.relativo{
position: relative;
}

input,
select,
textarea{
border       : 1px solid #dcdcdc ;
min-height   : 40px;
color        :#000;
border-radius: 0px;
}


::-webkit-input-placeholder {
color      : #283239 !important;
font-weight: 400;
font-size  : 12px;
}

:-moz-placeholder {
color     : #283239 !important;
font-weight: 400;
font-size  : 12px;
}

::-moz-placeholder {
color: #283239 !important;
font-weight: 400;
font-size: 12px;
}

:-ms-input-placeholder {
color: #283239 !important;
font-weight: 100;
font-size: 12px;
}


.div-0pg{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


.topo-telefone h1{
  font-family:"Lato Black";
  font-size: 30px !important;
  color: #000;
}


.topo-telefone h1 span{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

/**
============================================
        rodape
============================================
*/

.rodape{
background: #cecece;
}

.rodape-preto{
background:#000;
}

.rodape-preto h5{
font-size:20px;
color: #fff;
font-weight: 300;
}


.menu-rodape li a {
color: #000;
font-size : 20px;
font-weight: 300;
margin-right: 35px;
}

.menu-rodape li a:hover, .menu-rodape li a.active{
font-weight: 400;
}


.menu-rodape {
list-style: none;
padding: 0px;
}

.barra_branca {
border-bottom: 1px solid #fff;
padding-bottom: 44px;
}

.menu-rodape li {
float: left;
}


.rodape p{
  font-size: 16px;
}

/**
============================================
        rodape
============================================
*/



/**
============================================
        topo
============================================
*/

.logo{
position: relative;
z-index: 9;
padding-top: 8px !important;
padding-bottom: 0px !important;
}

.fundo_cinza_escuro{
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.43);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.43);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.43);
background:#283239;
}

.menu_avancado{
background: #fcb616;
height: 60px;
}
.menu_avancado h1{
font-size: 14px;
font-weight: 700;
}




.menu_avancado .select-topo {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  background: url(../imgs/bg-transparente-topo.png);

}

.outros-telefones{
  background: #FCB616 !important;
}

.outros-telefones li{
  background: #FCB616;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.menu_avancado .btn-group>.btn:first-child {
 height: 40px;
 border: 0px;
  background: url(../imgs/bg-transparente-topo.png);
}

.menu_avancado .bootstrap-select.btn-group .dropdown-menu {
background : #fcb616;
}

.menu_avancado .bootstrap-select.btn-group .dropdown-menu li a span.text {
  color       : #000;
  padding     : 5px 0px;
  font-size   : 15px;
  font-weight : 700;
}


.menu_topo li{
float :left;
}

.menu_topo {
  list-style : none;
}

.menu_topo li a {
  padding-bottom : 11px;
  color          : #000;
  font-size      : 17px;
  font-weight    : 400;
  margin-right   : 11px;
}

.menu_topo li.active a {
  border-bottom : 5px solid #fcb616;
}

.menu_topo li a:hover {
  font-weight   : 400;
  border-bottom : 5px solid #fcb616;
}

.btn_carrinho, .btn_carrinho :hover, .btn_carrinho:active, .btn_carrinho:focus {
  padding       : 0px;
  border-radius : 0px;
  border        : none !important;
  background    : url(../imgs/btn-carrinho.png) center no-repeat;
  height        : 60px;
}


.carrinho_topo .badge {
    padding      : 5px 6px;
    font-size    : 14px;
    font-weight  : 400;
    color        : #fff;
    background   : #000;
    border-radius: 0px;
    top          : 10px !important;
    right        : 61px;
    height       : 23px;
}

.topo-meu-orcamento {
  background: #fff;
  width     : 470px;
  padding   : 0px 10px;
}

.btn-vermelho {
  border-radius: 0px;
  font-size    : 17px;
  padding      : 10px 20px;
  background   : #ed1f1f;
  color        : #fff;
}
/**
============================================
        topo
============================================
*/



/**
============================================
        HOME
============================================
*/


/*==================================================
* Effect 2
* ===============================================*/
.effect2
{
position: relative;
}
.effect2:before, .effect2:after
{
z-index   : -1;
position  : absolute;
content   : "";
bottom    : 15px;
left      : 10px;
width     : 50%;
top       : 80%;
max-width :300px;
background: #777;
box-shadow: 0 15px 10px #777;
transform : rotate(-3deg);
}
.effect2:after
{
transform: rotate(3deg);
right: 10px;
left : auto;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
width   :100%;
height  :443px;
margin  :0px auto;
overflow:hidden;
position: relative;
}

#content_slider {
width      :1920px;
height     :443px;
overflow   :hidden;
position   :absolute;
margin-left:-960px;
top        :0px;
left       :50%;
}

.subir_banner{
margin-top: -11px;
}


#content-slider-1 .rsTabs {
width   : 90px;
height  : 27px;
z-index : 9999;
position: absolute;
right   : 885px;
top     :405px;
}

#content-slider-1 .rsNavItem {
background   : #d8d8d8;
width        : 20px;
opacity      : 0.5;
border       : 2px solid #000;
height       : 20px;
float        : left;
margin-right : 10px;
cursor       : pointer;
border-radius: 50%;
}

#content-slider-1 .rsNavSelected {
 opacity  : 1;
background: #d8d8d8;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.media-left, .media-right, .media-body {
  vertical-align: middle;
}


.subir_contatos_home{
background:#fff;
}

.subir{
margin-top: -82px;
}

.contatos_home h3 span{
font-family: 'Lato', sans-serif;
font-size  : 21px;
font-weight: 400;
}

.contatos_home h3{
font-size  : 33px;
color      : #000;
font-family:"Lato Black";

}

.btn_maiscontatos{
padding: 0px 0px 0px 5px;
}

.mais_telefone{
height    : 45px;
background: url(../imgs/botao_outros_telefones.png) center no-repeat;
}

.contatos-topo {
  top        : 83%;
  left       : -61px;
}

.contatos-topo li {
  padding    : 10px;
  font-size  : 18px;
  color      : #000;
  font-weight: 400;
}

.bg_azul{
  height: 570px;
background: #0162bf;
}

.bg_branco{
background: #fff;
}

.bateria_carro{
background: #fcb616;
}

.bateria_caminhao{
background: #70c978;
}
.bateria_moto{
background: #5595d3;
}
.bateria_barco{
background: #fbcc61;
}
.bateria_lampada{
background: #98e29e;
}
.bateria_baterias{
background: #7ab1e6;
}

.bateria_carro h1,
.bateria_caminhao h1,
.bateria_moto h1,
.bateria_barco h1,
.bateria_lampada h1,
.bateria_baterias h1{
overflow   : hidden;
height     : 56px;
background : url(../imgs/borda_categoria_home.png) bottom center no-repeat;
font-size  : 23px;
font-weight: 700;
}


.menu_produtos_home li{
float:left;
}

.menu_produtos_home{
height    : 61px;
overflow  : hidden;
background: #fcb616;
}

.menu_produtos_home li a{
color       : #000;
padding     : 18px;
font-size   : 20px;
font-weight : 400;
margin-right: -2px;
}

.menu_produtos_home li a:hover{
font-weight: 400;
padding    : 18px;
height     : 61px;
background : url(../imgs/barra_produtos_home.png);
}

.menu_produtos_home li.active a{
font-weight:700;
height     : 61px;
background : url(../imgs/barra_produtos_home.png);
}

.btn_ver_todos{
border-radius: 0px;
font-size: 17px;
font-weight: 700;
padding      : 21px 27px;
background   : #fd0000;
color        : #fff;
}

.btn_ver_todos:hover{
background: #971c16;
color     : #fff;
}

.produtos-home{
position   : relative;
min-height : 240px;
padding    :2px;
}

.produtos-home h1{
overflow   :hidden;
height     :46px;
font-weight:400;
font-size  : 20px;
color      :#000;
}

.produtos-home h2{
overflow   :hidden;
height     :19px;
font-weight:400;
font-size  : 15px;
color      :#000;
}

.produtos-home p{
overflow    : hidden;
font-weight : 400;
font-size   : 15px;
height      : 60px;
}

.produto-hover {
 left        : 5px;
 z-index     : 9;
 background  : url(../imgs/fundo-transparente.png);
 width       : 252px;
 height      : 191px;
 position    : absolute;
 top         : 5px;
 opacity     : 0;
 padding-top : 80px;
}

.produtos-home .caption {
padding :20px 6px;

}

.diagonal{
position   : absolute;
background : url(../imgs/barra_diagonal_produtos.png) center no-repeat;
left       : -3px;
top        : -5px;
width      : 72px;
height     : 72px;
}

.diagonal h3{
  margin-top       : 7px;
  -webkit-transform: rotate(317deg);
  -moz-transform   : rotate(317deg);
  -o-transform     : rotate(317deg);
  writing-mode     : lr-tb;
}

.bg_conhecar_mais{
/*height: 697px;*/
background: url(../imgs/bg_conhecar_mais.jpg) top  center no-repeat;
}

.saiba_descricao {
overflow-x:auto;
max-height: 170px;
}

.btn_transparente{
border-radius: 0px;
padding      : 13px 28px;
border       :1px solid #000;
background   : none;
color        :#000;
font-weight  : 300;
font-size    : 23px;
}


.bg_servicos{
overflow     : hidden;
background   : #fff;
}

.bg_servicos p{
overflow     : hidden;
height: 54px;
}

.breadcrumb {
font-size    :21px;
background   : none;
}

.breadcrumb i{
border-radius: 50%;
border       : 1px solid #fff;
padding      :5px;

}



.breadcrumb i:hover,.breadcrumb a:hover{
color:#fcb616;
}

.breadcrumb>.active {
  color: #fff !important;
}


.breadcrumb a {
text-decoration: none;
outline        : none;
display        : block;
float          : left;
font-size      : 21px;
line-height    : 36px;
color          : white;
/*need more margin on the left of links to accomodate the numbers*/
padding        : 0 10px 0 40px;
position       : relative;
}


/*hover/active styles*/
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content : '';
  position: absolute;
  top     : 7px;
  right : -18px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width : 20px;
  height: 20px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  /*stylish arrow design using box shadow*/
  box-shadow:
    2px -2px 0 2px rgba(255, 255, 255, 255.1),
    3px -3px 0 2px rgba(255, 255, 255,1);
  /*
    5px - for rounded arrows and
    50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}


.empresa_descricao h1{
  color      : #fff;
  font-size  : 40px;
  font-family:"Lato Black";
}

.empresa_descricao h1 span{
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color      : #fff;
  font-size  : 40px;
}


.descricao_banner h1{
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color      : #fff;
  font-size  : 50px;
}

.descricao_banner_dentro h1{
  overflow   : hidden;
  height : 111px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color      : #fff;
  font-size  : 50px;
}

.dicas_geral{
  overflow: hidden;
  height: 90px;
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------PRODUTOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.menu-destaques{
  height:50px;
  border-radius:0px;
  font-size:15px;
  color:#000;
  background:#be7304;
}

.menu-destaques h2{
  font-size: 15px;
  font-weight: 700;
}

.menu-destaques .fa{
  margin: 10px 0px 0px 10px;
}

.menu-produtos-cat{
  background:#fcb616;
  height:50px;
}

.menu_subcat h2{
  font-size:13px;
  color:#000;
}

.menu-produtos-cat h1{
  font-size:15px;
  color:#000;
}

.fa-star:before, .fa-angle-down:before {
    color: #fff;
}

.fa-minus:before {
  color: #e5e5e5;
}


.navs_produtos{
width      : 148px;
left       : 350px;
bottom     : -34px;
margin-left: inherit;
}


.navs_produtos li{
margin     : 0px !important;
background : #fff;
opacity    : 0.5;
width      : 20px;
border     : 2px solid #000;
height     : 20px;
}

.navs_produtos li.active {
  opacity  : 1;
background : #fff;
width      : 20px;
height     : 20px;
}

.controles_produtos{
    top: 246px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #000;
    background: none !important;
    opacity: 1;
    text-align: center;
}

.controles_produtos:hover{
  background: none !important;
    color: #000;
    opacity: 0.5;
}

.controles_produtos.right {
    right: 320px;
  }

  .controles_produtos.left {
      left: 320px;
}


.menu_produtos .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  color       : #000;
  font-size   : 15px;
  font-weight : 700;
}

.menu_produtos .btn-group>.btn:first-child {
height        : 40px;
border-radius : 0;
border: 2px solid #000;
}

.quantidades h1{
  font-size: 30px;
  font-family:"Lato Black";

}


/*set a border on the images to prevent shifting*/
#gallery_01 img{border:2px solid white;}

 /*Change the colour*/
 .elevatezoom_personalizado.active img{
   border:2px solid #333 !important;

 }


 .descricao_tipo_produto h1{
   font-size: 30px;
   color: #fff;
   font-weight: 700;
 }

 .descricao_tipo_produto h2{
   font-size: 20px;
   color: #fff;
   font-weight: 700;
 }

 .descricao_tipo_produto h2 span{
   font-weight: 400;
   font-size: 20px;
 }

 .produtos_dentro_desc p{
   font-weight: 400;
 }

 .tabela_indicado thead th{
    padding: 10px 5px;
   background: #fcb616;
 }
 .tabela_indicado table{
   font-size  : 20px;
   color      : #000;
   font-weight: 700;
 }

 .tabela_indicado .table>tbody>tr>td,.tabela_indicado .table>thead>tr>th{
   padding: 10px 5px;
   border-bottom: 1px solid #fcb616;
 }

 .produto_cat,.quantidades_prod h1{
  font-size:25px;
  color:#fff;
  font-weight: 700;
 }

 .produto_cat p{
   overflow-x:auto;
   height:142px;
   ::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
 }

 .produto_cat p{
  color:#fff;
 }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------PRODUTOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------SERVICOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.tipos_servicos{
  background: #fff;
}

.tipos_servicos h1{
  color:  #000;
  font-size: 25px;
  font-weight: 700;

}

.tipos_servicos p{
  overflow: hidden;
  height: 90px;
}

.btn_transparente_branco{
  border:3px solid #fff;
  color: #fff;
  border-radius: 0px;
  font-weight: 400;
  font-size: 23px;
  padding: 14px 30px;
}

.btn_transparente_branco1{
  border:1px solid #fff;
  color: #fff;
  border-radius: 0px;
  font-weight: 400;
  font-size: 20px;
  padding: 17px 6px;
}

.btn_transparente_branco1:hover,.btn_transparente_branco:hover{
  background: #0f58a0;
  color: #fff;
}


.servicos_dentro {
max-height: 330px;
  overflow-x: auto;
}


.FormCurriculo{
  margin-top: -145px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------SERVICOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/**
============================================
          CONTATOS
============================================
*/
.fundo_formulario_fale{
  background:#fff;
  overflow:hidden;
  color:#fff;
}

.fundo_formulario_fale input, .fundo_formulario_fale textarea{
  border:1px solid #dcdcdc;
  border-top-width: 3px;
  border-top-color: #000;
  border-radius:0px;
  font-size:20px;
  color:#000;
}

.btn-formulario{
  padding: 19px 36px;
  background:#fcb616;
  color:#000;
  font-size:20px;
  font-weight:700;
  border-radius:0px;
  -moz-box-shadow: 0px 1px 4px #000000;
-webkit-box-shadow: 0px 1px 4px #000000;
box-shadow: 0px 1px 4px #000000;
}


.btn-formulario:hover{
  background:#a67813;
  color:#fff;
}

.fundo_formulario_fale span{
  color: #000;
}

.contatosfale{
height    : 61px;
overflow  : hidden;
background: #fcb616;
}

.contatosfale li{
margin-top: 19px;
}


.contatosfale li a{
color       : #000;
font-size   : 20px;
padding: 21px;
font-weight : 400;
}

.contatosfale li a:hover{
font-weight: 400;
padding: 21px;
height     : 61px;
background : url(../imgs/barra_contatos.png);
}

.contatosfale .active a{
font-weight:700;
padding: 21px;
height     : 61px;
background : url(../imgs/barra_contatos.png);
}


.contatosfale .active a:hover{
font-weight:700;
}


.fundo_formulario input,.fundo_formulario textarea{
  border:1px solid #dcdcdc;
  border-top-width: 3px;
  border-top-color: #000;
  border-radius:0px;
  font-size:20px;
  color:#000;
}

.fundo_formulario span{
  color: #000;
}

/**
============================================
          CONTATOS
============================================
*/


/**
============================================
          ORCAMENTO
============================================
*/

.input-lista-prod-orcamentos {
	width                : 32px;
	min-height           : 36px !important;
	text-align           : center;
  background           : #e2a314;
	-webkit-border-radius: 5px;
	-moz-border-radius   : 5px;
	border-radius        : 5px;
  font-size            : 13px;

}

.tabela_carrinho thead th{
   padding: 10px 5px;
  background: #fcb616;
}
.tabela_carrinho table{
  font-size  : 15px;
  color      : #000;
  font-weight: 400;
}

.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{
  vertical-align: middle;
  padding: 10px 5px;
  border-bottom: 1px solid #fcb616;
}

.fa-times-circle::before {
    color: #ff0000;
}
/**
============================================
          ORCAMENTO
============================================
*/



.bg-slider-produto{
  background: #fff;
}


#gal1{
  width: 411px !important;
}


#gal1 .touchcarousel{
  height: 80px !important;
}

#gal1  .touchcarousel .touchcarousel-item{
  padding: 0px !important;
  margin: 0px !important;
}


#gal1 .touchcarousel .arrow-holder.left{

}


#gal1 .touchcarousel .arrow-holder.right{

}


.touchcarousel.black-and-white .arrow-icon.left{

}

.touchcarousel.black-and-white .arrow-icon.right{

}



.topo-meu-orcamento {
  background: #fff;
  width: 470px;
  padding: 0px 10px;
}



.lista-itens-carrinho{
  margin: 10px 0px;
  overflow: hidden;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.bg-branco{background: #fff;}



.menu-abrir-todos-produtos{
  background: #fff;
  height: 60px;
}

.menu-abrir-todos-produtos a, .menu-abrir-todos-produtos i{
  font-size: 25px;
  color: #000000;
  font-weight: 700;
  line-height: 60px;
}

.menu-abrir-todos-produtos i{
  font-size: 35px;
} 

.lista-marcas{
  height: 290px;
  position: relative;
  overflow:  hidden;
}

.lista-marcas h1{
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lista-marcas-sub-cat, .lista-marcas-sub-cat:hover{
   font-size: 15px;
   color: #fff;
   display: block;
   margin-bottom: 15px;
   background: url('../imgs/seta-esquerda.png') 0px 4px no-repeat;
   padding-left: 10px;
}

.cor-marca-1{
  background: #338de4;
}

.cor-marca-2{
  background: #10ae92;
}

.cor-marca-3{
  background: #067ae9;
}

.cor-marca-4{
  background: #ff3b34;
}


.btn-lista-todas-marcas, .btn-lista-todas-marcas:hover{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  background: url('../imgs/img-transparente.png');
  height: 43px;
  width: 265px;
  line-height: 27px;
  color: #fff;
  border-radius: 0px;
}

















