
@font-face {
  font-family: 'MyriadPro-CondIt';
  src: url('MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-CondIt.otf')  format('opentype'),
	     url('MyriadPro-CondIt.woff') format('woff'), url('MyriadPro-CondIt.ttf')  format('truetype'), url('MyriadPro-CondIt.svg#MyriadPro-CondIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
