@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
select,
input {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
}

/* End Reset */

.top5 {
    margin-top: 5px;
}
.top10 {
    margin-top: 10px;
}
.top12 {
    margin-top: 12px;
}
.top15 {
    margin-top: 15px;
}
.top20 {
    margin-top: 20px;
}
.top25 {
    margin-top: 25px;
}
.top30 {
    margin-top: 30px;
}
.top35 {
    margin-top: 35px;
}
.top40 {
    margin-top: 40px;
}
.top45 {
    margin-top: 45px;
}
.top50 {
    margin-top: 50px;
}
.top55 {
    margin-top: 55px;
}
.top60 {
    margin-top: 60px;
}
.top65 {
    margin-top: 65px;
}
.top70 {
    margin-top: 70px;
}
.top75 {
    margin-top: 75px;
}
.top80 {
    margin-top: 80px;
}
.top85 {
    margin-top: 85px;
}
.top90 {
    margin-top: 90px;
}
.top100 {
    margin-top: 100px;
}
.top105 {
    margin-top: 105px;
}
.top110 {
    margin-top: 110px;
}
.top120 {
    margin-top: 120px;
}
.top130 {
    margin-top: 130px;
}
.top140 {
    margin-top: 140px;
}
.top150 {
    margin-top: 150px;
}
.top155 {
    margin-top: 155px;
}
.top160 {
    margin-top: 160px;
}
.top170 {
    margin-top: 170px;
}
.top180 {
    margin-top: 180px;
}
.top190 {
    margin-top: 190px;
}
.top195 {
    margin-top: 195px;
}
.top200 {
    margin-top: 200px;
}
.top205 {
    margin-top: 205px;
}
.top210 {
    margin-top: 210px;
}
.top230 {
    margin-top: 230px;
}
.top250 {
    margin-top: 250px;
}
.top260 {
    margin-top: 260px;
}
.top270 {
    margin-top: 270px;
}
.top330 {
    margin-top: 330px;
}
.bottom5 {
    margin-bottom: 5px;
}
.bottom10 {
    margin-bottom: 10px;
}
.bottom15 {
    margin-bottom: 15px;
}
.bottom20 {
    margin-bottom: 20px;
}
.bottom25 {
    margin-bottom: 25px;
}
.bottom30 {
    margin-bottom: 30px;
}
.bottom35 {
    margin-bottom: 35px;
}
.bottom40 {
    margin-bottom: 40px;
}
.bottom45 {
    margin-bottom: 45px;
}
.bottom50 {
    margin-bottom: 50px;
}
.bottom55 {
    margin-bottom: 55px;
}
.bottom60 {
    margin-bottom: 60px;
}
.bottom60 {
    margin-bottom: 60px;
}
.bottom65 {
    margin-bottom: 65px;
}
.bottom70 {
    margin-bottom: 70px;
}
.bottom75 {
    margin-bottom: 75px;
}
.bottom80 {
    margin-bottom: 80px;
}
.bottom100 {
    margin-bottom: 100px;
}
.bottom120 {
    margin-bottom: 120px;
}
.bottom135 {
    margin-bottom: 135px;
}
.left5 {
    margin-left: 5px;
}
.left10 {
    margin-left: 10px;
}
.left15 {
    margin-left: 15px;
}
.left20 {
    margin-left: 20px;
}
.left25 {
    margin-left: 25px;
}
.left30 {
    margin-left: 30px;
}
.left35 {
    margin-left: 35px;
}
.left40 {
    margin-left: 40px;
}
.left45 {
    margin-left: 45px;
}
.left50 {
    margin-left: 50px;
}
.left55 {
    margin-left: 55px;
}
.left60 {
    margin-left: 60px;
}
.left65 {
    margin-left: 65px;
}
.left70 {
    margin-left: 70px;
}
.left75 {
    margin-left: 75px;
}
.left80 {
    margin-left: 80px;
}
.left130 {
    margin-left: 130px;
}
.right5 {
    margin-right: 5px;
}
.right10 {
    margin-right: 10px;
}
.right15 {
    margin-right: 15px;
}
.right20 {
    margin-right: 20px;
}
.right25 {
    margin-right: 25px;
}
.right30 {
    margin-right: 30px;
}
.right35 {
    margin-right: 35px;
}
.right40 {
    margin-right: 40px;
}
.right45 {
    margin-right: 45px;
}
.right50 {
    margin-right: 50px;
}
.right55 {
    margin-right: 55px;
}
.right60 {
    margin-right: 60px;
}
.right65 {
    margin-right: 65px;
}
.right70 {
    margin-right: 70px;
}
.right75 {
    margin-right: 75px;
}
.right80 {
    margin-right: 80px;
}
.right130 {
    margin-right: 130px;
}
.right230 {
    margin-right: 230px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt25 {
    padding-top: 25px;
}
.pt30 {
    padding-top: 30px;
}
.pt40 {
    padding-top: 40px;
}
.pt45 {
    padding-top: 45px;
}
.pt50 {
    padding-top: 50px;
}
.pt60 {
    padding-top: 60px;
}
.pt80 {
    padding-top: 80px;
}
.pt100 {
    padding-top: 100px;
}
.pt170 {
    padding-top: 170px;
}
.pt190 {
    padding-top: 190px;
}
.pt200 {
    padding-top: 200px;
}
.pt300 {
    padding-top: 300px;
}
.pl5 {
    padding-left: 5px;
}
.pl15 {
    padding-left: 15px;
}
.pl20 {
    padding-left: 20px;
}
.pl30 {
    padding-left: 30px;
}
.pl40 {
    padding-left: 40px;
}
.pl45 {
    padding-left: 45px;
}
.pl50 {
    padding-left: 50px;
}
.pl60 {
    padding-left: 60px;
}
.pl80 {
    padding-left: 80px;
}
.pl100 {
    padding-left: 100px;
}
.pl300 {
    padding-left: 300px;
}
.pr15 {
    padding-right: 15px;
}
.pr20 {
    padding-right: 20px;
}
.pr30 {
    padding-right: 30px;
}
.pr40 {
    padding-right: 40px;
}
.pr45 {
    padding-right: 45px;
}
.pr50 {
    padding-right: 50px;
}
.pr60 {
    padding-right: 60px;
}
.pr80 {
    padding-right: 80px;
}
.pr100 {
    padding-right: 100px;
}
.pr300 {
    padding-right: 300px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pb30 {
    padding-bottom: 30px;
}
.pb40 {
    padding-bottom: 40px !important;
}
.pb50 {
    padding-bottom: 50px;
}
.pb60 {
    padding-bottom: 60px;
}
.pb70 {
    padding-bottom: 70px;
}
.pb80 {
    padding-bottom: 80px;
}
.pb100 {
    padding-bottom: 100px;
}
.pb190 {
    padding-bottom: 190px;
}
.pb280 {
    padding-bottom: 280px;
}
.pb300 {
    padding-bottom: 300px;
}
.pg0 {
    padding: 0px;
}
.pg5 {
    padding: 5px;
}
.pg10 {
    padding: 10px;
}
.pg20 {
    padding: 20px;
}
.pg60 {
    padding: 60px;
}
.container {
    max-width: 480px;
}
.input100 {
    width: 100% !important;
}
body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.padding0 {
    padding: 0px !important;
}
.lato-black {
    font-family: "Lato Black";
}
h1 {
    /*color: #000;
	font-size: 17px;
	font-weight: 400;*/
}
h1 span {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

h2 {
    
}


h2 span {}
h3 {
    font-family: 'MyriadPro-Regular';
    font-size: 10px;
    color: #fff;
}
h3 span {}
h4 {
    font-family: "Lato Black";
    color: #000;
    font-size: 29px;
    font-weight: 400;
}
h4 span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 39px;
}
h5 span {
    font-family: "Lato Black";
}
h6 {
    font-family: "Lato Black";
    color: #000;
    font-size: 30px;
    /*text-decoration: underline;*/
}
p {
    color: #000;
    font-size: 15px;
    text-align: justify;
}
p span {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0px;
}
input,
textarea {
    border: 1px solid #000;
    min-height: 40px;
    color: #000;
    border-radius: 0px !important;
}
.btn {
    border-radius: 0px;
}
::-webkit-input-placeholder {
    color: #000 !important;
    font-weight: 400;
    font-size: 12px;
}
:-moz-placeholder {
    color: #000 !important;
    font-weight: 400;
    font-size: 12px;
}
::-moz-placeholder {
    color: #000 !important;
    font-weight: 400;
    font-size: 12px;
}
:-ms-input-placeholder {
    color: #000 !important;
    font-weight: 100;
    font-size: 12px;
}

/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto {
    position: relative;
    background: #000;
}
.bg-fundo-preto p {
    color: #fff;
    font-weight: 100;
    line-height: 50px;
    text-align: center;
}

/**
============================================
					RODAPE
============================================
*/


/**
============================================
					TOPO
============================================
*/

.pesquisa .stylish-input-group .input-group-addon {
    border: 0px !important;
    border-right: 0px;
    background: #fcb616 !important;
}
.btn_carrinho,
.btn_carrinho:hover,
.btn_carrinho:active,
.btn_carrinho:focus {
    padding: 0px;
    border-radius: 0px;
    border: none !important;
    background: url(../imgs/carrinho_topo.png) center no-repeat;
    height: 50px;
}



.btn_pesquisa_avancada,
.btn_pesquisa_avancada:hover,
.btn_pesquisa_avancada:active,
.btn_pesquisa_avancada:focus {
    padding: 0px;
    border-radius: 0px;
    border: none !important;
    background: #FCB616;
    height: 50px;
}





.carrinho_topo .badge {
    padding: 5px 6px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #000;
    border-radius: 0px;
    top: 2px !important;
    left: 55px;
    height: 23px;
}
.pesquisa .stylish-input-group .form-control {
    color: #000;
    height: 50px;
    border: 0px !important;
    background: #fcb616 !important;
}
.pesquisa .stylish-input-group button {
    font-size: 20px;
    border-radius: 0px;
    border: 0px !important;
    color: #000;
    border: 0;
    background: #fcb616 !important;
}
.topo-meu-orcamento {
    left: inherit;
    width: 100%;
    background: #fcb616;
}
.topo-meu-orcamento h1 {
    color: #000;
    font-size: 17px;
    font-weight: 400;
}
.btn-finaliza-orcamento,
.btn-finaliza-orcamento:hover {
    color: #fff;
    padding: 9px 12px;
    background: #0162bf;
}
.select-menu {
    margin-left: -11px;
    height: 75px;
    background: url(../imgs/menu_topo.png) center no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.bg-menu {
    overflow: hidden;
    background: #fcb616;
}

/**
============================================
					TOPO
============================================
*/


/**
============================================
					HOME
============================================
*/


/*==================================================
 * Effect 2
 * ===============================================*/

.effect2 {
    position: relative;
}
.effect2:before,
.effect2:after {
    background: #777;
    bottom: 12px;
    box-shadow: 0 15px 10px #777;
    content: "";
    left: 1px;
    max-width: 300px;
    position: absolute;
    top: 63%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
.effect2:after {
    transform: rotate(3deg);
    right: 1px;
    left: auto;
}
.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle:hover {
    height: 54px;
    border-radius: 0px;
    font-weight: 700;
    color: #FFF;
    font-size: 16px;
    background: #eb4c77 none repeat scroll 0% 0%;
    width: 100%;
}
.navs_produtos_home {
    width: 74px;
    left: 206px;
    margin-left: inherit;
}
.navs_produtos_home li {
    margin: 0px !important;
    background: #fff;
    opacity: 0.5;
    width: 20px;
    border: 2px solid #000;
    height: 20px;
}
.navs_produtos_home li.active {
    opacity: 1;
    background: #fff;
    width: 20px;
    height: 20px;
}
.controles_produtos_home {
    top: 280px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #000;
    background: none !important;
    opacity: 1;
    text-align: center;
}
.controles_produtos_home:hover {
    background: none !important;
    color: #000;
    opacity: 0.5;
}
.controles_produtos_home.right {
    right: 142px;
}
.controles_produtos_home.left {
    left: 142px;
}
.bateria_carro {
    background: #fcb616;
}
.bateria_caminhao {
    background: #70c978;
}
.bateria_moto {
    background: #5595d3;
}
.bateria_barco {
    background: #fbcc61;
}
.bateria_lampada {
    background: #98e29e;
}
.bateria_baterias {
    background: #7ab1e6;
}
.bateria_carro h1,
.bateria_caminhao h1,
.bateria_moto h1,
.bateria_barco h1,
.bateria_lampada h1,
.bateria_baterias h1 {
    overflow: hidden;
    height: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}
.produtos-home {
    border-radius: 0px;
    position: relative;
    min-height: 240px;
    padding: 2px;
}
.produtos-home h1 {
    overflow: hidden;
    min-height: 55px;
    font-weight: 400;
    font-size: 17px;
    color: #000;
}
.produtos-home h2 {
    overflow: hidden;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.produtos-home p {
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    height: 58px;
}
.produtos-home .caption {
    padding: 20px 6px;
}
.diagonal {
    position: absolute;
    background: url(../imgs/barra_diagonal_produtos.png) center no-repeat;
    left: -3px;
    top: -2px;
    width: 55px;
    height: 55px;
}
.diagonal h3 {
    margin-top: 10px;
    -webkit-transform: rotate(317deg);
    -moz-transform: rotate(317deg);
    -o-transform: rotate(317deg);
    writing-mode: lr-tb;
}
.bg_conhecar_mais {
    background: url(../imgs/bg_conhecar_mais.jpg) top center no-repeat;
}
.saiba_descricao {
    overflow: hidden;
    max-height: 252px;
}
.saiba_descricao p {
    font-weight: 300;
    font-size: 20px;
}
.btn_transparente,
.btn_transparente:hover {
    border-radius: 0px;
    padding: 9px 20px;
    border: 1px solid #000;
    background: none;
    color: #000;
    font-weight: 300;
    font-size: 16px;
}
.bg_servicos {
    overflow: hidden;
    background: #fff;
}
.bg_servicos p {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    padding: 0px 10px;
    overflow: hidden;
    height: 33px;
}
.bg_servicos h1 {
    font-weight: 400;
    padding: 0px 10px;
    color: #000;
    font-size: 24px;
}
.servicos_home h1 {
    font-size: 35px;
    font-family: "Lato Black";
}

/**
============================================
					HOME
============================================
*/


/**
============================================
					EMPRESA
============================================
*/

.breadcrumb {
    padding: 8px 0px;
    font-size: 15px;
    background: none;
}
.breadcrumb i {
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}
.breadcrumb i:hover,
.breadcrumb a:hover {
    color: #fcb616;
}
.breadcrumb>.active {
    color: #fff !important;
}
.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0px 2px 0px 27px;
    position: relative;
}

/*hover/active styles*/


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -18px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 20px;
    height: 20px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 255.1), 3px -3px 0 2px rgba(255, 255, 255, 1);
    /*
    5px - for rounded arrows and
    50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/

.breadcrumb a:last-child:after {
    content: none;
}
.empresa_descricao h1 {
    color: #fff;
    font-size: 28px;
    font-family: "Lato Black";
}
.empresa_descricao h1 span {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 28px;
}
.empresa_descricao_geral p {
    font-size: 17px;
}
.descricao_banner h1 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 50px;
}
.descricao_banner_orcamento h1 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 40px;
}
.descricao_banner p {
    height: 73px;
    overflow-x: auto;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
}
.descricao_banner_dentro h1 {
    overflow: hidden;
    max-height: 111px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 50px;
}
.dicas_geral {
    overflow: hidden;
    height: 63px;
}

/**
============================================
					EMPRESA
============================================
*/


/**
============================================
					CONTATOS
============================================
*/


/**
============================================
					ACCORDION BOSTRAP
============================================
*/

#accordion .panel-heading {
    padding: 0;
}
#accordion .panel-title > a {
    display: block;
    padding: 0.4em 0.6em;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}
.acording span {
    font-size: 14px;
    color: #eb4c77;
    font-weight: 400;
}
.panel-default>.panel-heading {
    color: #333;
    background: none;
    border: 0px;
    height: 40px;
    border-radius: 0px;
}
.panel-group {
    background: #f2f2f2;
    margin-bottom: 20px;
}
#accordion .panel-title > a.accordion-toggle::before,
#accordion a[data-toggle="collapse"]::before {
    content: "\e113";
    float: right;
    color: #eb4c77;
    margin-top: 7px;
    font-family: 'Glyphicons Halflings';
    margin-right: 1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before,
#accordion a.collapsed[data-toggle="collapse"]::before {
    content: "\e114";
}
.acording b {
    border-radius: 50px;
    padding: 12px 25px;
    background: #e74d76;
    color: #fff;
    font-size: 31px;
}
.acording h3,
.panel-heading span {
    font-weight: 400;
    color: #000;
    font-size: 12px;
}
.fa-check:before {
    color: #00f600;
    content: "\f00c";
}

/**
============================================
					ACCORDION BOSTRAP
============================================
*/

.fundo_formulario_fale input,
.fundo_formulario_fale textarea {
    border: 1px solid #dcdcdc;
    border-top-width: 3px;
    border-top-color: #000;
    border-radius: 0px;
    font-size: 20px;
    color: #000;
}
.btn-formulario,
.btn-formulario:hover {
    padding: 14px 32px;
    background: #fcb616;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    border-radius: 0px;
    -moz-box-shadow: 0px 1px 4px #000000;
    -webkit-box-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 4px #000000;
}
.fundo_formulario_fale span {
    color: #000;
}
.contatosfale {
    height: 48px;
    overflow: hidden;
    background: #fcb616;
}
.contatosfale li {
    margin-top: 14px;
}
.contatosfale li a {
    color: #000;
    font-size: 11px;
    padding: 17px;
    font-weight: 400;
}
.contatosfale li a:hover {
    font-weight: 400;
    padding: 17px;
    height: 56px;
    background: url(../imgs/barra_contatos.png);
}
.contatosfale .active a {
    font-weight: 700;
    padding: 17px;
    height: 56px;
    background: url(../imgs/barra_contatos.png);
}
.contatosfale .active a:hover {
    font-weight: 700;
}
.fundo_formulario input,
.fundo_formulario textarea {
    border: 1px solid #dcdcdc;
    border-top-width: 3px;
    border-top-color: #000;
    border-radius: 0px;
    font-size: 20px;
    color: #000;
}
.fundo_formulario span {
    color: #000;
}
.input-lg+.form-control-feedback {
    width: 32px;
    height: 46px;
    line-height: 46px;
}

/**
============================================
          CONTATOS
============================================
*/


/**
============================================
          ORCAMENTO
============================================
*/

.input-lista-prod-orcamentos {
    border: none;
    width: 32px;
    min-height: 36px !important;
    text-align: center;
    background: #e2a314;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
}
.tabela_carrinho thead th {
    padding: 10px 5px;
    background: #fcb616;
}
.tabela_carrinho table {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}
.tabela_carrinho h4 span {
    font-size: 25px;
    color: #000;
    font-weight: 700;
}
.tabela_carrinho .table>tbody>tr>td,
.tabela_carrinho .table>thead>tr>th {
    vertical-align: middle;
    padding: 10px 5px;
    border-top: 0px;
    border-bottom: 1px solid #fcb616;
}
.fa-times-circle::before {
    color: #ff0000;
}

/**
============================================
          ORCAMENTO
============================================
*/


/**
============================================
          PRODUTOS
============================================
*/

.navs_produtos {
    width: 91px;
    left: 180px;
    bottom: -30px;
    margin-left: inherit;
}
.navs_produtos li {
    margin: 0px !important;
    background: #fff;
    opacity: 0.5;
    width: 20px;
    border: 2px solid #000;
    height: 20px;
}
.navs_produtos li.active {
    opacity: 1;
    background: #fff;
    width: 20px;
    height: 20px;
}
.controles_produtos {
    top: 125px;
    width: 25px;
    height: 25px;
    font-size: 16px;
    color: #000;
    background: none !important;
    opacity: 1;
    text-align: center;
}
.controles_produtos:hover {
    background: none !important;
    color: #000;
    opacity: 0.5;
}
.controles_produtos.right {
    right: 170px !important;
}
.controles_produtos.left {
    left: 160px !important;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    margin-left: 0px;
}
.quantidades h1 {
    font-size: 20px;
    font-family: "Lato Black";
}
.menu_produtos .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    border: 0px;
    background: #fcb616;
}
.menu_produtos .btn-group>.btn:first-child {
    height: 49px;
    border-radius: 0;
    border: 0px;
    background: #fcb616;
    color: #000;
}
.menu_produtos01 .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    border: 0px;
    background: none;
}
.menu_produtos01 .btn-group>.btn:first-child {
    height: 49px;
    border-radius: 0;
    background: none;
    color: #000;
    border: 1px solid #000;
}
.produtos_dentro .active img {
    border: 2px solid #333 !important;
}
.produtos_dentro_desc p {
    font-weight: 400;
}
.produtos_dentro h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.descricao_tipo_produto h2 {
    font-size: 17px;
    color: #000;
    font-weight: 700;
}
.descricao_tipo_produto h2 span {
    font-weight: 400;
    font-size: 17px;
}
.btn_transparente_branco1 {
    border: 4px solid #fff;
    color: #fff;
    border-radius: 0px;
    font-family: "Lato Black";
    font-size: 20px;
    padding: 17px 6px;
}

.btn_transparente_branco2 {
    border: 4px solid #000;
    color: #000;
    border-radius: 0px;
    font-family: "Lato Black";
    font-size: 20px;
    padding: 17px 6px;
}

.bg_branco {
    background: #fff;
}
.tabela_indicado thead th {
    padding: 10px 5px;
    background: #fcb616;
}
.tabela_indicado table {
    font-size: 17px;
    color: #000;
    font-weight: 700;
}
.tabela_indicado .table>tbody>tr>td,
.tabela_indicado .table>thead>tr>th {
    padding: 10px 5px;
    border-bottom: 1px solid #fcb616;
}

/**
============================================
          PRODUTOS
============================================
*/


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* -------------------------------SERVICOS  ---------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.tipos_servicos {
    background: #fff;
}
.tipos_servicos h1 {
    overflow: hidden;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.tipos_servicos p {
    padding-right: 10px;
    overflow: hidden;
    height: 76px;
    font-size: 17px;
}
.btn_transparente_branco {
    border: 3px solid #fff;
    color: #fff;
    border-radius: 0px;
    font-weight: 400;
    font-size: 23px;
    padding: 14px 30px;
}
.servicos_dentro {
    max-height: 236px;
    overflow-x: auto;
}
.FormCurriculo {
    margin-top: -145px;
}
.servicos_especificacoes h1 {
    overflow: hidden;
    height: 86px;
}
.div-lista-servicos {
    height: 915px;
    overflow-x: auto;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* -------------------------------SERVICOS  ---------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.select_tipos_veiculos {
    height: 50px;
    background: #fcb616;
    font-size: 17px;
    color: #000;
    font-weight: 400;
    border-radius: 0px;
    padding-left: 10px;
}

.select-transparente {
    height: 40px;
    background: none;
    border: 1px solid #000;
    border-radius: 0px;
}


.prod-title h2{
    font-family: "Lato Black";
    font-size: 20px;
    color: #000;
}



.bg-branco{
    background: #fff;
    overflow: hidden;
}



.slider-produtos .hide-bullets {
    list-style:none;
    margin-top:10px;
}

.slider-produtos .thumbnail {
    padding: 0;
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
}

.slider-produtos .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


.slider-produtos .carousel-control.right, .slider-produtos .carousel-control.left{
    background: none;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}




.topo-meu-orcamento{
	width: 420px;
}


.menu-destaques{
  height:50px;
  border-radius:0px;
  font-size:15px;
  color:#000;
  background:#be7304;
}

.menu-destaques h2{
  font-size: 15px;
  font-weight: 700;
}

.menu-destaques .fa{
  margin: 10px 0px 0px 10px;
}



.menu-produtos-cat{
  background:#fcb616;
  height:50px;
}

.menu_subcat h2{
  font-size:13px;
  color:#000;
}

.menu-produtos-cat h1{
  font-size:15px;
  color:#000;
}

.fa-star:before, .fa-angle-down:before {
    color: #fff;
}

.fa-minus:before {
  color: #e5e5e5;
}









